@media screen and (min-width: 1401px) {

    body .body-fluid {
        height: auto;
    }

    body .body-fluid .body-container .row-1 {
        margin: 5% 0px 30px;
    }

    body .body-fluid .body-container .row-1 figure {
        width: 24%;
    }

    body .body-fluid .body-container .row-2 {
        margin-bottom: 40px;
    }

    body .body-fluid .body-container .row-2 h3 {
        margin-top: 0px;
        font-size: 1rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container figure {
        margin: 0px;
        width: 10.5rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container p {
        margin-top: 5px;
        font-size: 1rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact {
        width: 10.5rem;
        height: 1.8rem;
        padding: 0px;
        margin-bottom: 0px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a figure {
        width: 1.8rem;
        margin: 10px 10px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
        width: 1.5rem;
    }


}