@media screen and (min-width: 1201px) and (max-width: 1400px) {

    body .body-fluid {
        height: 100vh;
    }

    body .body-fluid .body-container .row-1 {
        margin-top: 0px;
        margin-bottom: 40px;
    }

    body .body-fluid .body-container .row-1 .logo-izq {
        padding: 13px;
        width: 130px;
        height:130px;
    }

    body .body-fluid .body-container .row-1 .logo-der {
        padding: 13px;
        width: 400px;
        height: 130px;
    }

    body .body-fluid .body-container .row-1 .logo-der h1 {
        padding: 0;
        margin: 0;
        font-size: 3.1rem;
    }

    body .body-fluid .body-container .row-1 .logo-der h3 {
        padding: 0;
        margin: 0;
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 8.2pt;
    }

    body .body-fluid .body-container .row-2 {
        margin-bottom: 4rem;
    }

    body .body-fluid .body-container .row-2 h3 {
        margin-top: 10px;
        font-size: 1.4rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container figure {
        margin: 0px 0px 0.7rem;
        width: 330px;
        height: 330px;
    }

    body .body-fluid .body-container .row-3 .row-3_container p {
        margin-top: 10px;
        font-size: 2rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact {
        width: 330px;
        height: 70px;
        padding: 3px 10px;
        margin-bottom: 8px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact p {
        font-size: 1.8rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a figure {
        width: 3rem;
        margin: 10px 20px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
        width: 2.5rem;
    }

}