@media screen and (min-width: 401px) and (max-width: 768px) {
    
    body .body-fluid {
        height: 100vmax;
    }

    body .body-fluid .body-container .row-3 .row-3_container p {
        font-size: 1.2rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container .coming {
        font-size: 0.9rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact {
        width: 75%;
        height: 2.5rem;
        margin-bottom: 2%;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
        width: 1.2rem;
        margin-left: 0.6rem;
    }

}