* {
  box-sizing: border-box;
}

p {
  color: #eeeeee;
}

h1, h2, h3, h4, h5, h6 {
  color: #eeeeee;
  font-family: "Jost", sans-serif;
}

body {
  background-color: #434343;
  background-image: url(../img/backrground_mobile.png);
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body .body-fluid {
  height: 100vh;
}
body .body-fluid .body-container {
  height: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-1 {
  width: 100%;
  margin-top: 37%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-1 figure {
  width: 74%;
  margin: 0;
  padding: 0;
}
body .body-fluid .body-container .row-1 figure img {
  width: 100%;
}
body .body-fluid .body-container .row-2 {
  width: 100%;
  margin-bottom: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-2 figure {
  width: 100%;
  margin: 0;
  padding: 0;
}
body .body-fluid .body-container .row-2 figure img {
  width: 100%;
}
body .body-fluid .body-container .row-3 {
  width: 100%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-3 .row-3_container {
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-3 .row-3_container figure {
  border-radius: 2px;
  margin: 0px 0px 0.2rem;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 5px 55px rgba(255, 255, 255, 0.611);
}
body .body-fluid .body-container .row-3 .row-3_container figure img {
  border-radius: 2px;
  width: 100%;
}
body .body-fluid .body-container .row-3 .row-3_container p {
  margin: 0;
  font-style: italic;
  font-weight: 400;
  font-size: 1rem;
}
body .body-fluid .body-container .row-3 .row-3_container .coming {
  margin: 0;
  font-style: italic;
  font-weight: normal;
  font-size: 0.7rem;
}
body .body-fluid .body-container .row-4 {
  width: 100%;
  height: auto;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-4 .row-4_container {
  width: auto;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-4 .row-4_container .contact {
  width: 55%;
  height: 2.5rem;
  padding: 0;
  margin-bottom: 0px;
  border: none;
  border-radius: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-4 .row-4_container .contact img {
  width: 100%;
}
body .body-fluid .body-container .row-4 .row-4_container .row-4_redes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a {
  border-radius: 10px;
  margin: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a img {
  width: 100%;
}
body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a:hover {
  background-color: #8c004679;
}
body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
  width: 1.2rem;
  margin-left: 0.3rem;
}

/*# sourceMappingURL=style.css.map */
