@media screen and (min-width: 993px) and (max-width: 1200px) {

    body .body-fluid {
        height: 100vh;
    }

    body .body-fluid .body-container .row-1 {
        margin: 40px 0px 23px;
    }

    body .body-fluid .body-container .row-1 figure {
        width: 25%;
    }

    body .body-fluid .body-container .row-2 {
        margin-bottom: 40px;
    }

    body .body-fluid .body-container .row-2 h3 {
        margin-top: 0px;
        font-size: 0.8rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container figure {
        width: 8.5rem;
        margin-bottom: 5px;
    }

    body .body-fluid .body-container .row-3 .row-3_container p {
        font-size: 0.9rem;
    }

    body .body-fluid .body-container .row-4 {
        margin-bottom: 40px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact {
        width: 8rem;
        height: 2rem;
        padding: 0px;
        margin-bottom: 0px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a figure {
        width: 1.5rem;
        margin: 0px 8px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
        width: 1.3rem;
    }

}