@media screen and (min-width: 993px) and (max-width: 1200px) {

    body .body-fluid .body-container .row-1 {
        margin: 90px 0px 30px;
    }

    body .body-fluid .body-container .row-1 figure {
        width: 45%;
    }

    body .body-fluid .body-container .row-2 {
        margin-bottom: 4rem;
    }

    body .body-fluid .body-container .row-2 h3 {
        margin-top: 20px;
        font-size: 1.3rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container figure {
        margin: 0px 0px 1.5rem;
        width: 15rem;
    }

    body .body-fluid .body-container .row-3 .row-3_container p {
        font-size: 1.7rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact {
        width: 15rem;
        height: 3.5rem;
        padding: 3px 10px;
        margin-bottom: 20px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .contact p {
        font-size: 1.4rem;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes a figure {
        width: 3rem;
        margin: 13px 20px;
    }

    body .body-fluid .body-container .row-4 .row-4_container .row-4_redes #insta-icon {
        width: 2.5rem;
    }

}