@import "variables";

* {
    box-sizing: border-box;
}

p {
    color: $color-blanco;
}

h1, h2, h3, h4, h5, h6 {
    color: $color-blanco;
    font-family: $fuente-titulos;
}



body {
    background-color: $color-grisoscuro;

    .body-fluid {
        // border: 1px dashed yellow;
        height: 100vh;

        background-image: url(../img/background-4.jpg);
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;


        .body-container {
            // border: 1px dashed red;
            height: 100%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .row {
                // border: 1px dashed cyan;
                
            }

            .row-1 {
                // background-color: rgba(0, 255, 255, 0.275);
                width: 100%;
                margin-bottom: 15px;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .logo-izq {
                    border: 5px solid $color-rosado;
                    padding: 7px;
                    width: 65px;
                    height: 65px;

                    figure {
                        width: 100%;
                        padding: 0;

                        img {
                            width: 100%;
                            padding: 0;

                        }
                    }
                }

                .logo-der {
                    border-top: 5px solid $color-rosado;
                    border-right: 5px solid $color-rosado;
                    border-bottom: 5px solid $color-rosado;
                    padding: 7px;
                    width: 45%;
                    height: 65px;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h1 {
                        padding: 0;
                        margin: 0;
                        font-size: 1.1rem;
                        color:$color-rosado;
                        font-family: $fuente-titulos;
                        font-weight: bold;
                        letter-spacing: -0.5pt;
                        text-align: center;
                    }

                    h3 {
                        padding: 0;
                        margin: 0;
                        font-size: 0.5rem;
                        color: $color-rosado;
                        font-weight: bold;
                        letter-spacing: 3.4pt;
                        text-align: center;
                    }
                }

            }

            .row-2 {
                // background-color: rgba(0, 255, 255, 0.275);
                width: 100%;
                margin-bottom: 2rem;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                h3 {
                    margin: 0;
                    padding: 0;
                    color: $color-blanco;
                    font-family: $fuente-titulos;
                    font-style: italic;
                    font-size: 0.6rem;
                    text-align: center;
                    text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.638);
                    filter: drop-shadow(3px 3px 5px rgba(131, 0, 76, 0.563));
                }

            }

            .row-3 {
                // background-color: rgba(0, 255, 255, 0.275);
                width: 100%;
                margin-bottom: 3.5rem;

                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;

                .row-3_container {
                    // border: 1px dashed chartreuse;
                    width: auto;
                    height: auto;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    figure {
                        // border: 1px dashed red;
                        border-radius: 3px;
                        margin: 0px 0px 1rem;
                        width: 8rem;

                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;

                        img {
                            border-radius: 3px;
                            width: 100%
                        }
                    }

                    p {
                        margin: 0;
                        font-style: italic;
                        font-weight: bold;
                        font-size: 1rem;
                    }

                }

            }

            .row-4 {
                // background-color: rgba(0, 255, 255, 0.275);
                width: 100%;
                height: auto;
                margin-bottom: 10px;

                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .row-4_container {
                    // border: 1px dashed chartreuse;
                    width: auto;

                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    .contact {
                        width: 10rem;
                        height: 2rem;
                        padding: 3px 10px;
                        margin-bottom: 10px;
                        border: none;
                        border-radius: 3px;
                        background-color: $fondo-rosado;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        p {
                            padding: 0;
                            margin: 0;
                            font-style: italic;
                            font-weight: bold;
                            font-size: 0.9rem;
                            text-shadow: 2px 2px 7px rgba(255, 255, 255, 0.638);
                            filter: drop-shadow(3px 3px 5px rgba(131, 0, 76, 0.563));
                        }
                    }

                    .row-4_redes {
                        // border: 1px dashed crimson;

                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;

                        a {
                            // border: 1px dashed cyan;
                            border-radius: 10px;

                            figure {
                                // border: 1px dashed blue;
                                width: 2rem;
                                margin: 5px 10px;
                                cursor: pointer;
    
                                img {
                                    width: 100%;
                                }
                            }
                        }
                        a:hover {
                            background-color: $fondo-rosado;
                        }

                        #insta-icon {
                            width: 1.6rem;
                        }
                    }


                }

            }

        }
    }


}