// ----------------------------------
//     FUENTES
// ----------------------------------
$fuente-titulos: 'Jost', sans-serif;;


// ---------------------------------
//    PALETA DE COLORES
// ---------------------------------
$color-grisoscuro: rgb(67, 67, 67);
$color-blanco: #eeeeee;
$color-rosado: #b9005e;